### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
.peering-manager/
*.py[cod]
*$py.class

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

.initializers
configuration/*
!configuration/configuration.py
!configuration/extra.py
!configuration/ldap
!configuration/ldap/extra.py
!configuration/ldap/ldap_config.py
!configuration/logging.py
